# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules
/bower_components
/vendor

# Testing
/coverage

# Production
/build

# API keys and secrets
.env

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
output-npm-scripts.log
